* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f6f8fc;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content {
    padding: 1rem;
    background-color: #fff;
    max-width: 992px;
    margin: 0 auto;
    height: 100vh;
}